.UserProjectList {
  margin: 0 20px;
  flex-basis: 50%;
}

.listItemHeading {
  font-weight: 700;
  font-size: 15px;
}

.listItemHeading, .listItem {
  padding: 10px;
  text-align-last: left;
}

table {
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

td {
  font-size: 13px;
  border-top: 2px solid whitesmoke;
}

.completed, .canceled {
  padding: 3px 6px;
  border-radius: 3px;
  color: white;
}
.completed {
  background-color: green;
}
.canceled {
  background-color: orange;
}

.greenVal {
  color: green;
}
.redVal {
  color: red;
}
.orangeVal {
  color: orange;
}
