.mainInfoContainer {
  flex-basis: calc(25% - 22.5px);
  margin: 15px 15px 20px;
  box-sizing: border-box;
}

.mainInfoContainer:first-child {
  margin-left: 0;
}
.mainInfoContainer:nth-child(4n) {
  margin-right: 0;
}

.addContent {
  padding: 15px;
  box-sizing: border-box;
}