.main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.aside {
  flex-basis: 20%;
  min-height: 100vh;
  background-color: rgb(10, 48, 49);
  display: flex;
  justify-content: center;
}

.navBar {
  width: 100%;
}

.mainContent {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
}

.twoListAndTransactionContainer {
  flex-basis: 70%;
  display: flex;
  align-items: flex-start;
}