.main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.aside {
  flex-basis: 20%;
  min-height: 100vh;
  background-color: rgb(10, 48, 49);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.navBar {
  width: 100%;
}

.mainContent {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
}

.twoListAndTransactionContainer {
  flex-basis: 70%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profileContainer {
  margin: 20px 0 40px;
}

.name {
  color: white;
}

.profileImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profession {
  color: rgb(150, 149, 149);
  margin-top: 5px;
}