.card {
  min-height: 100px;
  min-width: 100px;
  background-color: white;
}

.cardHeader {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.instruments {
  color: gray;
}

.redSpan, .blueSpan, .greenSpan, .lightGreenSpan {
  color: white;
}

.redSpan {
  background-color: red;
}

.blueSpan {
  background-color: blue;
}

.greenSpan {
  background-color: green;
}

.lightGreenSpan {
  background-color: lightgreen;
}